*{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
*{font-family:'Lato',sans-serif;}
html,body{background-color:#f1f1f1}
.hidden{display:none}
#main-container{margin:0 auto;width:900px}

/* TODO Should I set a kind of rule (CSS name) */
ul{padding:0;margin:0;list-style:none}
.disabled{opacity:.1}
.btn-enabled{cursor:pointer}
.btn-rounded{border:2px solid #000;border-radius:50%}

#user{position: absolute;top:0;right: 0;margin: 25px}
#user>span{font-size: 1.1em;margin-right: 10px}
#menu{position: absolute; left: 15px;top: 40px}/*margin: 11px 25px 25px 25px*/
#logout{width: 40px;border: 0;padding: 0;margin: 0;height: 40px;}
.btn-menu{height: 56px;width: 56px;background-color: #D5D5D5}
.btn-rounded-new{font-size: 1.1em;outline: 0;padding: 0;border:0;border-radius:50%;box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);box-sizing:content-box;pointer-events:auto;cursor:pointer}
.btn-rounded-new:hover{box-shadow:0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);transition:box-shadow 150ms cubic-bezier(0,0,.2,1)}
.btn-middle{height: 42px;width: 42px}

.btn-small{/*font-size:.75em*/height: 30px;width: 30px}
.btn-large{font-size:1.5em}
.btn-larger{font-size:2em}
.selected{background-color:#959595 !important}
#add-playlist-virtual,#add-playlist-phys{font-size:1.2em;line-height:15px;font-weight:bold;line-height:15px;margin:0 3px}

/* Audio control */
#audioPlayer{display:none}
#audio-player{display:table;min-width:300px;max-width:570px;padding:10px;border-radius:5px;background-color:#8b8b8b}
#audio-player>div{display:table-row}
#audio-player>div>div{display:table-cell}
#audio-player>div>div>span,#audio-player>div>div>div{vertical-align:middle;line-height:24px}
#previous-container{width:14px}
#play-container{width:24px}
#next-container{width:14px}
#elapsed-time-container{width:50px}
#elapsed-time{margin: 0 13px 0 11px}
#remaining-time-container{width:50px}
#remaining-time{margin:0 11px 0 13px}
#btnPlay{margin:0 4px}
#time-line{display:inline-block;position:relative;height:6px;border:1px solid whitesmoke;width:200px}
#time-line-container{margin-left:10px}
.time{font-weight:bold}
#volume-container{}
#volume-bar-container{overflow:hidden;display:inline-block;vertical-align:middle;width:84px;height:10px;border:1px solid #fff;margin-right:5px}
#volume-bar{background-color:whitesmoke;height:100%;width:100%}
#cursor{border-radius:50%;width:10px;height:10px;border:5px solid #fff;left:0;position:absolute;background-color:#acacac;margin-left:-9px;margin-top:-8px}
#loaded-chunks{background-color:whitesmoke;height:6px;width:0;position:absolute}
#command-bar{margin-top:10px;margin-left:20%}

/* BEGIN Layout main sections */

.clear{clear:both}
#middle-container{margin-top:10px}
#middle-container:after{content:'';clear:both;display:block}
#playlist-manager{display:none}
#playlist-browser{margin-top:5px}
#playlist-explorer{width:45%;float:left}
#file-explorer-commands{float:left;padding:40px 6px 0 6px}
#file-explorer-commands *{display:block;margin-top:10px}
#right-section{float:left;margin-top:22px;width:45%}

/* END Layout main sections */

#media-container{height:557px;overflow-y:auto;border:2px solid #b0b0b0;position:relative;}
#media-container li{height:19px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
#media-container li:nth-child(odd){background-color:#fbfbfb}
#media-container li:nth-child(even){background-color:#e3e3e3}
#media-container li.selected{background-color:#959595}
#media-container li.current{background-color:#959595}
#media-container span.title{width:74%;display:inline-block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.duration{width:57px;text-align:right;display:inline-block}
file-explorer>div{position:relative}
#file-explorer-overlay{width:100%;height:100%;position:absolute;opacity:0.15;text-align:center}
#start-browse-icon{font-size:18em;display:block;padding-top:.11em}
#start-browse-caption{font-size:1.75em}

/* TODO Width: Try with 100% */
#playlists-container{overflow-x:auto;/*width:280px;*/font-size:.8em}
#playlists-container li{padding:5px;height:20px;display:inline-block;background-color:#b0b0b0;position:relative;margin-top:18px}
#playlists-container input{min-width:50px;max-width:70px;margin:0;padding:0;height:12px}
#playlists-container li:hover{background-color:#8e8e8e}
#playlists-container li.pl{min-width:30px;margin-right:2px}
#playlists-container li.selected{background-color: #7d7d7d}
#playlists-container li:hover>.tab-tools{display:block}

.tab-container{overflow-x:auto;font-size:.8em}
.tab-container li{padding:5px;height:20px;display:inline-block;background-color:#b0b0b0;position:relative;margin-top:18px}
form label{display:block}
/*.tab-container input{min-width:50px;max-width:70px;margin:0;padding:0;height:12px}*/
.tab-container li:hover{background-color:#8e8e8e}
.tab-container li.pl{min-width:30px;margin-right:2px}
.tab-container li.selected{background-color: #7d7d7d}

.rename{padding:1px;border-radius:3px}
.rename:hover{background-color:#c1c1c1}
.remove{padding:3px;border-radius:3px;font-size:.8em}
.remove:hover{background-color:#c1c1c1}
.delete{padding:3px;border-radius:3px}
.delete:hover{background-color:#c1c1c1}
.cancel{font-size:.8em;padding:3px;border-radius:3px}
.cancel:hover{background-color:#c1c1c1}
.playFolder{padding:2px;border-radius:5px;border:3px solid #d0d0d0;background-color:#cdcdcd;vertical-align:middle}
.playFolder.active{border-color:#f4f4f4;background-color:#e8e8e8}
.playFolder:hover{background-color:#ededed}
.tab-tools{display:none;position:absolute;top:-18px;left:0;min-width:35px;background-color:#dbdbdb;border-radius:3px;padding:2px 0 0 1px}

/* TODO Usefull ? */
.breadcrumb{width:280px}
/* TODO Width: Try with 100% */
.breadcrumb-container{overflow-x:auto;width:100%;height:26px;font-size:.8em}
.breadcrumb-container li{padding:3px 9px;display:inline-block;background-color:#b0b0b0;margin-right:5px;height:20px}
.breadcrumb-container li:hover{background-color:#8e8e8e}
#folder-up{background-color:#c5c5c5}
#explorer>div{border:2px solid #b0b0b0}
#playlistFinderValidation{background-color:white;padding:11px;display:inline-block;position:absolute;right:0;top:0}
#playlistFinderValidation span{display:block}
#playlistFinderValidation span{padding:1px;border-radius:3px}
#playlistFinderValidation span:hover{background-color:#c1c1c1}

#playlistFinderValidationCancel{margin-top:15px}
#file-explorer-list{height:430px;overflow-y:auto}
#file-explorer li{height:19px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
#file-explorer li:nth-child(odd){background-color:#fbfbfb}
#file-explorer li:nth-child(even){background-color:#e3e3e3}
.folder{font-size:.8em;margin-left:2px}
#favorites-container{border:2px solid #b0b0b0;overflow-y:auto;height:113px}
.favorite{font-size:.8em;margin-left:2px}
#favorites li:nth-child(odd){background-color:#fbfbfb}
#favorites li:nth-child(even){background-color:#e3e3e3}
#favorites{
    -webkit-animation: see_me .75s linear 0s infinite alternate;
    -moz-animation: see_me .75s linear 0s infinite alternate;
    -o-animation: see_me .75s linear 0s infinite alternate;
    animation: see_me .75s linear 0s infinite alternate;
}
@keyframes see_me{from{}to{}}

#clear-queue{font-size:1.3em}
#queue-container{width:100%;background-color:#dbdbdb;position:absolute;bottom:0;left:0;z-index: 2}
#queue-container-list{overflow-x:auto;width:100%}
#queue{}
#queue .remove,#queue .error{background-color:#e53636}
#queue ul{list-style:none}
#queue li{margin:0 5px;overflow:hidden;text-overflow:ellipsis;width:90px;height:90px;display:inline-block;color:#404040;background-color:#fff5d6}
#queue li:nth-child(odd){background-color:#fbfbfb}
#queue li:nth-child(even){background-color:#e3e3e3}
#queue li.active{background-color:#959595}
#file-explorer li:hover,#media-container li:hover,#favorites li:hover{background-color: #858585}

welcome>div{background-color: #d3d3d3;height:100%;width:100%;position:absolute;top:0}
#loginForm{ background:#e6e6e6;width:30%;height:270px;top: 50%;position: relative;transform: translateY(-50%);margin:0 auto;border-radius:10px;border:3px solid #e6e6e6}
#loginForm p{border-radius: 5px;margin-left: 10px;height: 75px;background-color: aliceblue;margin-right: 10px}
#loginForm input{position: relative;display: block;top: 50%;transform: translateY(-50%);margin: 0 auto;background-color: aliceblue;border: 0;color: #5c5c5c;font-size: 2.1em;width: 96%;line-height: 40px;height: 50px}
#loginForm button{margin: 0 auto;display: block}
#loginForm button:disabled{opacity: .5}

welcome>div.animate-show.ng-hide-add.ng-hide-add-active,
welcome>div.animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: opacity linear .25s;
    transition: opacity linear .25s;
}
.animate-show.ng-hide {opacity:0}

.shake.shake-add.shake-add-active{
    transform: translateY(-50%);
    -webkit-animation: do_shake .1s 2;
    -moz-animation: do_shake .1s 2;
    -o-animation: do_shake .1s 2;
    animation: do_shake .1s 2;
}
@-webkit-keyframes do_shake {
    0%  {transform: translateY(-50%) translateX(0px)}
    33%  {transform: translateY(-50%) translateX(-30px)}
    66%  {transform: translateY(-50%) translateX(30px)}
    100%  {transform: translateY(-50%) translateX(0px)}
}
.edit{position: absolute;top:0;right: -15px;}
.edit-container{position: relative}
#manage-users-outer{position:absolute;top: 0;left:90px;margin-top: 20px;z-index: 1;overflow-y: scroll;max-height: 660px;min-width: 300px}
#manage-users-inner{background-color: #F4F4F4;border-radius: 5px;padding: 1px 20px 20px 20px;}
#user-list{list-style: none;padding: 0;margin: 0}
#user-list li{margin: 10px 0;}
#user-list li>div{}
/*#user-list li>div:hover{background-color: #808080}*/
#user-list .full-name{font-size: 1.2em}
#user-list .user-info{background-color: #DFDFDF;}
#user-list .user-info:hover{background-color: #bbbbbb}
.user-info > div{display: inline-block;margin: 10px 0}
#user-list ol{display: inline-block}

#add-user{background-color: #DFDFDF}