@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-a95f4o');
	src:url('fonts/icomoon.eot?#iefix-a95f4o') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-a95f4o') format('truetype'),
		url('fonts/icomoon.woff?-a95f4o') format('woff'),
		url('fonts/icomoon.svg?-a95f4o#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-drive:before {
	content: "\e600";
}
.icon-pencil:before {
	content: "\e601";
}
.icon-folder:before {
	content: "\e602";
}
.icon-folder-open:before {
	content: "\e603";
}
.icon-download:before {
	content: "\e604";
}
.icon-users:before {
	content: "\e605";
}
.icon-user-plus:before {
	content: "\e606";
}
.icon-bin:before {
	content: "\e607";
}
.icon-list2:before {
	content: "\e608";
}
.icon-heart:before {
	content: "\e609";
}
.icon-close:before {
	content: "\e60a";
}
.icon-checkmark:before {
	content: "\e60b";
}
.icon-exit:before {
	content: "\e60c";
}
.icon-play3:before {
	content: "\e60d";
}
.icon-pause2:before {
	content: "\e60e";
}
.icon-first:before {
	content: "\e60f";
}
.icon-last:before {
	content: "\e610";
}
.icon-previous2:before {
	content: "\e611";
}
.icon-next2:before {
	content: "\e612";
}
.icon-volume-high:before {
	content: "\e613";
}
.icon-volume-low:before {
	content: "\e614";
}
.icon-volume-mute2:before {
	content: "\e615";
}
.icon-arrow-left:before {
	content: "\e616";
}
