<div id="file-explorer-commands">
	<button id="addToPlaylist"
	        class="button medium btn-rounded-new btn-middle"
	        title="Add files to current playlist"
	        ng-disabled="!canAddFilesToPlaylist"
	        ng-click="addFilesToPlaylist()">< P</button>
	<button id="addMediaToQueue"
	        class="button medium btn-rounded-new btn-middle"
	        title="Add media to queue (left panel)"
	        ng-disabled="!canEnqueueMediaSelection"
	        ng-click="enqueueMediaSelection()">> Q</button>
	<button id="addFilesToQueue"
	        class="button medium btn-rounded-new btn-middle"
	        title="Add files to queue (right panel)"
	        ng-disabled="!canEnqueueFileSelection"
	        ng-click="enqueueFileSelection()">Q <</button>
	<button id="addFolderToFavorites"
	        class="button medium btn-rounded-new btn-middle"
	        title="Add folder to favorites"
	        ng-disabled="!canAddFolderToFavorites"
	        ng-click="addFolderToFavoritesCmd()">&#9829;+</button>
</div>