<div>
	<div id="file-explorer-overlay"
	     class="btn-enabled"
	     ng-click="exploreFileSystem()"
	     ng-show="!isActive">
		<span id="start-browse-icon" class="icon-drive"></span>
		<span id="start-browse-caption">Click to browse your files</span>
	</div>
	<div class="breadcrumb-container">
		<bread-crumb class="breadcrumb" group-name="{{ bindToFavorites ? 'file-explorer' : 'playlist-finder' }}"></bread-crumb>
	</div>

    <div id="folder-up" ng-show="folderViewModel.canExecuteFolderUp" class="icon-folder btn-enabled" ng-click="goUp(folderViewModel.model)"> ...</div>
    <ul id="file-explorer-list">
        <li ng-repeat="fileVm in folderViewModel.files"
            ng-class="fileVm.selected ? 'selected' : ''"
            class="btn-enabled not-selectable">
            <span class="icon-folder-open folder" ng-show="fileVm.model.isDirectory()" stop-event></span>
            <button type="button" class="icon-play3 btn-enabled" ng-show="fileVm.model.isFile()" ng-click="innerPlayMedium(fileVm)" stop-event>{{ hasMediaQueueAny ? '+' : '' }}</button>

            <button type="button" class="btn-align-left-full-size" ng-dblclick="itemSelected(fileVm, true)"
                    ng-click="itemSelected(fileVm, false)">{{ ::fileVm.model.name }}</button>
        </li>
    </ul>
</div>