<div>
    <div id="file-explorer-overlay"
         class="btn-enabled"
         ng-click="exploreFileSystem()"
         ng-show="!isActive">
        <span id="start-browse-icon" class="icon-drive"></span>
        <span id="start-browse-caption">Click to browse your files</span>
    </div>
    <div id="folder-up" ng-show="canExecuteFolderUp" class="icon-folder btn-enabled" ng-click="goUp()"> ...</div>
    <ul id="file-explorer-list">
        <li ng-click="fileSelected(f)"
            ng-repeat="f in files | orderBy: ['type','name']"
            ng-class="f.selected ? 'selected' : ''"
            class="btn-enabled">
            <span class="icon-folder-open folder" ng-show="isDirectory(f)" stop-event></span>
            <span class="icon-play play-file" ng-show="isFile(f)" ng-click="innerPlayMedia(f)" stop-event>{{ mediaQueueLength === 0 ? '' : '+' }}</span>

            <span class="name">{{ f.name }}</span>
        </li>
    </ul>
</div>