<div id="manage-users-outer">

	<div id="manage-users-inner">

		<ol id="user-list">
			<li ng-repeat="userVm in usersVm">
				<div ng-hide="userVm.isEditing" class="edit-container">
					<div class="edit">
						<button class="btn-rounded-new btn-small icon-pencil" style="display: block" ng-click="beginEditUser(userVm)"></button>
						<button class="btn-rounded-new btn-small" style="display: block;margin-top: 5px" ng-hide="userVm.model.permissions.isRoot"  ng-click="removeUser(userVm)">X</button>
					</div>
					<user-summary user-vm="userVm"></user-summary>
				</div>
				<div ng-show="userVm.isEditing">
					<button class="btn-rounded-new btn-small" style="position: absolute;right: 22px" ng-click="cancelEditUser(userVm)">X</button>
					<add-or-edit-user user-vm="userVm"></add-or-edit-user>
				</div>
			</li>
			<li>
				<!--ng-class="canShowAddUserArea ? 'active' : 'inactive'"-->
				<div id="add-user">
					<!-- TODO Remove ng-show once accordion anim in use -->
					<div id="add-user-button-area" ng-hide="canShowAddUserPanel">
						<!-- TODO Should not looks like a button -->
						<button class="icon-user-add btn-middle" ng-click="beginAddUser()"></button>
					</div>
					<div id="add-user-form-area" ng-show="canShowAddUserPanel">
						<button class="btn-rounded-new btn-small" style="position: absolute;right: 22px" ng-click="cancelAddUser()">X</button>
						<add-or-edit-user ng-class="canShowAddUserArea ? 'active' : 'inactive'"></add-or-edit-user>
					</div>
				</div>
			</li>
		</ol>

	</div>

</div>