<div id="queue-inner">
  <ul id="queue">
    <li ng-repeat="mVm in mediaQueueViewModels"
        ng-click="playMedium(mVm)"
        class="not-selectable"
        ng-class="mVm.isPlaying ? 'active btn-enabled' : 'btn-enabled'">
      <button type="button" ng-click="innerRemove(mVm)" class="remove" stop-event>[x]</button>
      <span class="error" ng-show="mVm.hasError" stop-event>[!]</span>
      <span>{{ ::(mVm.model.name || mVm.model.title) }}</span>
    </li>
  </ul>
  <button type="button" id="clear-queue"
          class="icon-bin btn-enabled"
          title="Clear queue"
          ng-show="hasAny"
          ng-click="clearQueue()"></button>
</div>
