<div>
    <span id="clear-queue"
          class="icon-remove btn-enabled"
          title="Clear queue"
          ng-show="hasAny"
          ng-click="clearQueue()"></span>
    <div id="queue-container-list">
        <ul id="queue">
            <li ng-repeat="mVm in mediaQueueViewModels track by $index"
                ng-click="playMedium(mVm)"
                ng-class="mVm.isPlaying ? 'active btn-enabled' : 'btn-enabled'">
                <span ng-click="innerRemove(mVm)" class="remove" stop-event>[x]</span>
                <span class="error" ng-show="mVm.hasError" stop-event>[!]</span>
                <span>{{ ::(mVm.model.name || mVm.model.title) }}</span>
            </li>
        </ul>
    </div>
</div>