<div id="playlist-browser">
    <div id="playlists-container">
        <ul>
            <li class="btn-enabled pl"
                ng-repeat="playlistVm in playlistsVm | orderBy: 'index'"
                ng-class="selectedPlaylist._id == playlistVm.model.id ? 'selected' : ''"
                ng-click="innerPlaylistSelected(playlistVm)">
                <div ng-show="playlistVm.isEditing">
                    <!-- Editing mode -->
                    <input type="text" ng-model="playlistVm.model.name" focus-when="playlistVm.isEditing" ng-enter="endEditPlaylist(playlistVm)">
                    <button type="button" class="icon-checkmark rename" stop-event ng-click="endEditPlaylist(playlistVm)"></button>
                    <button type="button" class="icon-close cancel" stop-event ng-click="cancelAddPlaylist(playlistVm)"></button>
                </div>
                <span ng-show="!playlistVm.isEditing"
                      class="title">
                    {{ ::playlistVm.model.name || 'Empty' }}
                </span>
                <div class="tab-tools" ng-show="!playlistVm.isEditing">
                    <!-- Non editing mode -->
                    <button type="button" class="icon-pencil rename" stop-event ng-click="beginEditPlaylist(playlistVm)"></button>
                    <button type="button" class="icon-cross delete" stop-event ng-click="innerRemovePlaylist(playlistVm)"></button>
                </div>
            </li>
            <li ng-switch="isAdding" class="btn-enabled">
                <div ng-switch-when="true">
                    <input type="text" ng-model="newPlaylist.name" ng-enter="endAddVirtualPlaylist()">
                    <button type="button" class="icon-checkmark rename" stop-event ng-click="endAddVirtualPlaylist()"></button>
                    <button type="button" class="icon-cross cancel" stop-event ng-click="cancelAddPlaylist()"></button>
                </div>

                <div ng-switch-default>
                    <button type="button" id="add-playlist-virtual" ng-click="beginAddVirtualPlaylist()">+</button>
                    <button type="button" id="add-playlist-phys" class="icon-download" ng-click="beginAddPhysicalPlaylist()"></button>
                </div>
            </li>
        </ul>
    </div>
    <div id="media-container">
        <ul ng-show="canShowMediaInPlaylist">
            <li ng-repeat="mediumVm in selectedPlaylist.media"
                ng-click="mediaSelected(mediumVm)"
                ng-dblclick="innerPlayMedium(mediumVm)"
                ng-class="mediumVm.isPlaying || mediumVm.selected ? 'current' : ''"
                class="btn-enabled not-selectable">

                <button type="button" class="icon-play3 btn-enabled" ng-click="innerPlayMedium(mediumVm)" stop-event>{{ hasMediaQueueAny ? '+' : '' }}</button>

                <span class="title">{{ ::mediumVm.model.title || 'Empty' }}</span>
                <div class="duration">{{ ::mediumVm.model.duration | time}}</div>
                <button type="button" class="icon-close remove btn-enabled" stop-event ng-click="innerRemoveMedium(mediumVm)"></button>
            </li>
        </ul>

        <file-explorer id="plSelector"
                       is-visible="isPlaylistFinderVisible"
                       bind-to-favorites="false"
                       explore-when-visible="true"
                       selected-files="selectedPlaylistFiles">
        </file-explorer>

        <div id="playlistFinderValidation" ng-show="canShowPlaylistFinderValidate">
            <button type="button" class="icon-checkmark btn-enabled btn-large"
                  ng-click="endAddPhysicalPlaylist()"></button>
            <button type="button" class="icon-close btn-enabled btn-large"
                  id="playlistFinderValidationCancel"
                  ng-click="cancelImport()"></button>
        </div>

    </div>


</div>