<div id="playlist-browser">
    <div id="playlists-container">
        <ul>
            <li class="btn-enabled pl"
                ng-repeat="playlistVm in playlistsVm | orderBy: 'index'"
                ng-class="selectedPlaylist._id == playlistVm.model.id ? 'selected' : ''"
                ng-click="innerPlaylistSelected(playlistVm)">
                <div ng-show="playlistVm.isEditing">
                    <!-- Editing mode -->
                    <input type="text" ng-model="playlistVm.model.name" ng-enter="endEditPlaylist(playlistVm)">
                    <span class="icon-checkmark rename" stop-event ng-click="endEditPlaylist(playlistVm)"></span>
                    <span class="icon-close cancel" stop-event ng-click="cancel(playlistVm)"></span>
                </div>
                <span ng-show="!playlistVm.isEditing"
                      class="title">
                    {{ playlistVm.model.name || 'Empty' }}
                </span>
                <div class="tab-tools" ng-show="!playlistVm.isEditing">
                    <!-- Non editing mode -->
                    <span class="icon-pencil rename" stop-event ng-click="beginEditPlaylist(playlistVm)"></span>
                    <span class="icon-remove delete" stop-event ng-click="innerRemovePlaylist(playlistVm)"></span>
                </div>
            </li>
            <li ng-switch="isAdding" class="btn-enabled">
                <div ng-switch-when="true">
                    <input type="text" ng-model="newPlaylist.name" ng-enter="endAddVirtualPlaylist()">
                    <span class="icon-checkmark rename" stop-event ng-click="endAddVirtualPlaylist()"></span>
                    <span class="icon-close cancel" stop-event ng-click="cancel()"></span>
                </div>

                <div ng-switch-default>
                    <span id="add-playlist-virtual" ng-click="beginAddVirtualPlaylist()">+</span>
                    <span id="add-playlist-phys" class="icon-download" ng-click="beginAddPhysicalPlaylist()"></span>
                </div>
            </li>
        </ul>
    </div>
    <div id="media-container">
        <ul ng-show="canShowMediaInPlaylist">
            <!-- TODO Add this to model| orderBy: 'index'-->
            <!--ng-repeat="mediumVm in mediaViewModels"-->
            <li ng-repeat="mediumVm in selectedPlaylist.media"
                ng-click="mediaSelected(mediumVm)"
                ng-dblclick="innerPlayMedium(mediumVm)"
                ng-class="mediumVm.isPlaying || mediumVm.selected ? 'current' : ''"
                class="btn-enabled">

                <span class="icon-close remove btn-enabled" stop-event ng-click="innerRemoveMedium(mediumVm)"></span>
                <span class="icon-play btn-enabled" ng-click="innerPlayMedium(mediumVm)" stop-event></span>

                <span class="title">{{ mediumVm.model.title || 'Empty' }}</span>
                <div class="duration">{{ mediumVm.model.duration | time}}</div>
            </li>
        </ul>

        <file-explorer is-visible="isPlaylistFinderVisible"
                       bind-to-favorites="false"
                       explore-when-visible="true"
                       selected-files="selectedPlaylistFiles">
        </file-explorer>

        <div id="playlistFinderValidation" ng-show="canShowPlaylistFinderValidate">
            <span class="icon-checkmark btn-enabled btn-large"
                  ng-click="endAddPhysicalPlaylist()"></span>
            <span class="icon-close btn-enabled btn-large"
                  id="playlistFinderValidationCancel"
                  ng-click="cancelImport()"></span>
        </div>

    </div>


</div>